@import './config';
@import './utilities';



// Header Section

header {

    background-color: $bannerColors;

    .top-banner {

        

        .banner-info {

            h1 {

                color: $secondaryText;
            }
            span {

                color: $primaryText;
            }
            .banner-btn {

                @include btns;
                }
            }
        }
    }




// Casual Shoes Section

.casual-shoes-container {


    .shoe-box {



    .shoe-img {

        background: rgba(153, 153, 153, 0.096);
    }

    .shoe-details {


        h1 {

            color: $primaryText;
        }

        button {

            @include btns;
        }
    }
}
}


// Membership Section

.forms-container {


    input[type='submit'] {


        transition: all 0.5s;
        &:hover {

            background: rgba(3, 230, 3, 0.548);
        }
    }
}




// Media Queries For Responsive Fonts


@media (max-width:688px) {

    html {

        font-size: 60%
    }
}

@media (min-width:689px) and (max-width:991px) {

    html {

        font-size: 70%;
    }
}

@media (min-width:991px) and (max-width:1199px) {

    html {
        
        font-size: 85%;
    }
}